<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.scode.kadeooredoo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_yoball"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_yoball_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.home.TeamsDetailActivity"
            android:theme="@style/AppThemeWithBar"
            android:parentActivityName=".ui.home.HomeActivity"
            />
        <activity android:name=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detailLeague.ui.detailNextOrPrev.DetailMatchLeagueActivity"
            android:label="@string/title_activity_detail_match_league"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.home.HomeActivity"
            />
        <activity
            android:name=".ui.detailLeague.ui.DetailLeagueActivity"
            android:label="@string/title_activity_detail_league" />
        <activity android:name=".ui.home.tmp.DetailActivity" />
        <activity android:name=".ui.home.tmp.TeamsActivity">

        </activity>
    </application>

</manifest>